.calculator {
    width: 50vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    border-radius: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.resultBox {
    padding: 20px 48px;
    background-color: darkgreen;
    color: lawngreen;
    text-align: end;
}

.tempResult {
    font-size: 32px;
    height: 32px;
    opacity: 0.6;
}

.result {
    font-size: 48px;
    margin-top: 8px;
}

button {
    font-size: 48px;
    padding: 20px;
    flex-basis: 25%;
    border-radius: 50%;
    aspect-ratio: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}
.operators {
    background-color: red;
    color: white;
}

.equals {
    background-color: blue;
    color: white;
}